 :root {
     --primary-color: rgb(22, 117, 224);
     --dark-color: #343a40;
     --light-color: #f8f9fa;
     --nav-bg: #575757;
     --success: #4CAF50;
     --danger: #d62915;
     --warning: #fa8900;
 }


 /* Sidebar Styles */
 .sidebar {
     position: fixed;
     top: 0;
     left: 0;
     height: 100%;
     width: 180px;
     border-right: 1px solid #ddd;
     padding: 20px;
     transition: 0.3s;

 }

 .dark-theme .sidebar {
     background-color: var(--dark-color);
     color: #ffffff;
     border: none;
 }

 .light-theme .sidebar {
     background-color: white;
     color: #000000;
 }

 .sidebar .nav-item {
     margin: 9px 0;
     margin-left: 10%;
 }

 .sidebar .nav-link {
     font-size: 16px;
     padding: 8px 15px;
     text-decoration: none;
     border-radius: 5px;
 }

 .light-theme .sidebar .nav-link {
     color: #343a40;
 }

 .dark-theme .sidebar .nav-link {
     color: #ffffff;
 }

 .light-theme.sidebar .nav-link:hover {
     background-color: #f8f9fa;
 }

 .sidebar .badge {
     background-color: var(--primary-color);
     margin-left: 10px;
 }

 .sidebar.collapsed {
     width: 60px;
 }

 .sidebar.collapsed .nav-link {
     text-align: center;
 }


 /* Responsive Table */
 @media (max-width: 767px) {

     .sidebar {
         width: 100%;
         height: auto;
         position: relative;
     }

     .sidebar.collapsed {
         width: 100%;
         height: auto;
         position: relative;
     }


     .nav-link {
         font-size: 14px;
     }

     .nav-link .badge {
         font-size: 12px;
     }
 }

 /* Button Styles */
 .btn-primary {
     margin-left: 10px;
 }



 /* Dropdown button */
 .dropdown {
     position: relative;
     display: inline-block;
 }

 .dropdown-btn {
     background-color: #4CAF50;
     color: white;
     padding: 10px 15px;
     font-size: 16px;
     border: none;
     cursor: pointer;
 }

 .dropdown-content {
     display: none;
     position: absolute;
     min-width: 250px;
     max-width: 300px;
     box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
     z-index: 1;
     overflow-y: auto;
     padding: 10px;
     max-height: 400px;
     min-height: 200px;
 }

 .dark-theme .dropdown-content {
     background-color: var(--dark-color);
     color: #ffffff;
 }

 .dark-theme .dropdown-content .filter-option {
     margin-bottom: 20px;
 }

 .light-theme .dropdown-content {
     background-color: var(--light-color);
     color: #575757;
 }

 .dropdown-content .filter-option {
     margin-bottom: 20px;
 }

 .dropdown:hover .dropdown-content {
     display: block;
 }

 .filter-search {
     width: 100% !important;
     padding: 4px;
     margin-bottom: 10px;
     border-radius: 4px !important;
     border: 1px solid #ddd;

 }

 .fa-search {
     position: absolute;
     top: 10px;
     right: 12px;
 }


 .filter-option input[type="checkbox"] {
     margin-right: 8px;
 }

 .filter-option label {
     display: block;
     margin-bottom: 8px;
 }

 .nav-heading {
     font-size: 1rem;
     padding: 18px;
     width: 179px;
     text-align: center;
     font-weight: 700;
     background-color: var(--primary-color);
     color: #f7f7fa;
 }

 .custom-navbar {
     position: fixed;
     width: 100%;
     height: 3.5rem;
     display: flex;
     color: var(--nav-bg);
     z-index: 100;
 }

 .sports-name {
     font-size: 1.2rem;
     font-weight: 500;
     margin-left: 1rem;
     margin-top: 1rem;

 }

 .custom-nav-items {
     width: 100%;
     display: flex;
     justify-content: space-between;
     align-items: center;
 }


 .dark-theme .custom-navbar {
     background-color: var(--dark-color);
     color: #ffffff;
 }

 .light-theme .custom-navbar {
     background-color: #F2F2F5;
     color: #575757;
 }

 /* Navbar styles */
 .navbar-toggler {
     display: none;
     background: var(--primary-color);
     border: none;
     padding: 10px;
     font-size: 1.5rem;
     color: white;
     cursor: pointer;
 }

 .navbar-toggler span {
     display: block;
 }

 /* Responsive Navbar */
 @media (max-width: 768px) {
     .sports-name {
         display: none;
     }

     .custom-nav-items {
         display: none;
         flex-direction: column;

         position: absolute;
         top: 3.5rem;
         right: 0;
         width: 100%;
         z-index: 999;
         padding: 10px 0;
     }

     .dark-theme .custom-nav-items {
         background-color: var(--nav-bg);
     }

     .light-theme .custom-nav-items {
         background-color: var(--light-color);
     }

     .custom-nav-items.active {
         display: flex;
     }

     .navbar-toggler {
         display: block;
         position: absolute;
         top: 20px;
         right: 20px;
         font-weight: 900;
         z-index: 101;

     }

     .nav-heading {
         width: 100vw;
         text-align: left;
         padding-left: 10px;
     }
 }

 .center-filter {
     display: flex;
     position: absolute;
     left: 40%;
 }

 .custom-btn-group {
     padding: 0;
 }

 .filter-button {
     border-radius: 10px;
     padding: 4px;
     opacity: 50%;
     border: 1px solid #ddd;

 }

 .dark-theme .filter-button {
     background-color: var(--dark-color);
     color: white;
 }

 .light-theme .filter-button {
     background-color: var(--light-color);
     color: black;
 }

 .sub-nav {
     display: flex;
     justify-items: space-between;
     align-items: center;
 }

 /* smaller  screen*/
 @media (max-width: 768px) {
     .sub-nav {
         display: block;
     }
 }

 .custom-btn-group {
     display: flex;
     gap: 0;
     /* Remove spacing between buttons */
 }

 .custom-btn {
     border-radius: 0;

     padding: 5px 15px;
     font-size: 14px;
     color: white;
     /* Primary color */
     border: none;
     /* Remove individual rounding */
     cursor: pointer;
     transition: background-color 0.3s ease, transform 0.2s ease;

 }

 .dark-theme .custom-btn {
     background-color: #575757;
 }

 .light-theme .custom-btn {
     background-color: var(--light-color);
     color: black;
 }


 .custom-btn.active {
     background-color: var(--primary-color);
     font-weight: bold;
     box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
     color: white;
 }

 #checkedCountContainer {
     display: flex;
     color: white;
     padding: 5px 10px;
     font-size: 12px;
 }

 #clearChecks:hover {
     color: #343a40;
 }

 .dark-theme #clearChecks {
     color: white;
 }

 /* dropdown search*/